@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.page-background {
    background-color: #19083b;
    text-align: center;
    color: goldenrod;
    height: 100vh;
    padding: 15px;
}

.page-paragraph {
    color: white;
    font-size: 17px;
    font-family: "Sans-Serif";
    text-decoration: underline;
}

#quantity {
    background-color: white;
    border-width: 0px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
    color: #49146b;
}

#cardElement {
    color: goldenrod;
    font-size: 19px;
    font-weight: bold;
}

#sumElement {
    color: goldenrod;
    font-size: 19px;
    font-weight: bold;
}

.btnstyle {
    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;
    background-color: transparent;
    border-radius: 30px;
    font-size: 20px;
    color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 150px;
    margin: 10px;

}

.playButton {
    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;
    background-color: #49146b;
    border-radius: 40px;
    font-size: 25px;
    color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    width: 150px;
    margin: 10px;
}

#scoreBoard {
    color: goldenrod;
    font-size: 20px;
    font-family: "Sans-Serif";
    text-decoration: underline;
    font-weight: bold;
}

.teamPlayersScore {
    height: 30px;
    width: 230px;
    font-size: 20px;
    margin: 2px;
    color: goldenrod;
    font-weight: bolder;
    font-family: "Roboto";
    border-radius: 15px;
}

.currentPlayer {
    background-color: #f2f4f5;
    color: #19083b;
}

.winner {
    background-color: green;
    color: #19083b;
}

.GameTitleStyle {
    color: #19083b;
    font-size: 50px;
    text-align: center;
    background-color: goldenrod;
    margin-bottom: 0px;
}
